In [2]:
!wget https://zenodo.org/record/2545213/files/training_data_normal.tsv

--2022-06-20 11:45:49--  https://zenodo.org/record/2545213/files/training_data_normal.tsv
Resolving zenodo.org (zenodo.org)... 137.138.76.77
Connecting to zenodo.org (zenodo.org)|137.138.76.77|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23550317 (22M) [application/octet-stream]
Saving to: ‘training_data_normal.tsv’

training_data_norma 100%[===================>]  22.46M  12.3MB/s    in 1.8s

2022-06-20 11:45:52 (12.3 MB/s) - ‘training_data_normal.tsv’ saved [23550317/23550317]

In [18]:
import os
import csv
import pandas as pd
import sklearn as sk

!ls

sample_data  training_data_normal.tsv

In [6]:
path = 'content/training_data_normal.tsv'

In [ ]:
tsv_file = open("training_data_normal.tsv")
read_tsv = csv.reader(tsv_file, delimiter="\t")

In [16]:
df = pd.read_csv("training_data_normal.tsv", sep='\t', header=0)
df.head()

,NM_173803,NM_014423,NM_001103167,NR_134623,NR_024490,NM_018397,NM_001037671,NR_106859,NM_133458,NM_001080424,...,NM_080390,NM_001177675,NR_125786,NM_001291993,NM_021923,NM_017417,NM_004354,NR_024278,NM_145282,age
0,0.133,16.980,0.387,0.00,0.626,0.115,0.0,31.531,5.500,1.308,...,0.000,0.000,0.0,4.349,29.242,0.04,6.139,0.528,0.0,19
1,0.213,16.772,0.168,0.00,0.701,0.077,0.0,27.992,6.473,1.357,...,0.000,0.000,0.0,5.642,31.561,0.00,5.603,1.100,0.0,19
2,0.054,16.206,0.410,0.00,1.135,0.284,0.0,25.915,6.770,1.495,...,0.037,0.000,0.0,6.132,43.446,0.00,6.030,0.972,0.0,19
3,0.066,15.345,0.148,0.00,0.685,0.304,0.0,18.776,5.773,1.688,...,0.000,0.022,0.0,3.752,39.371,0.00,5.048,1.461,0.0,19
4,0.156,16.873,0.252,0.09,0.806,0.094,0.0,18.481,5.052,1.384,...,0.091,0.000,0.0,4.833,18.592,0.00,3.794,1.238,0.0,20

In [93]:
y_train.head()

16    51
52    25
63    44
3     19
86    68
Name: age, dtype: int64

In [ ]:
y = df['age']

In [34]:
x = df.iloc[:,:-1]
x

,NM_173803,NM_014423,NM_001103167,NR_134623,NR_024490,NM_018397,NM_001037671,NR_106859,NM_133458,NM_001080424,...,NR_029666,NM_080390,NM_001177675,NR_125786,NM_001291993,NM_021923,NM_017417,NM_004354,NR_024278,NM_145282
0,0.133,16.980,0.387,0.00,0.626,0.115,0.0,31.531,5.500,1.308,...,0.0,0.000,0.000,0.0,4.349,29.242,0.040,6.139,0.528,0.0
1,0.213,16.772,0.168,0.00,0.701,0.077,0.0,27.992,6.473,1.357,...,0.0,0.000,0.000,0.0,5.642,31.561,0.000,5.603,1.100,0.0
2,0.054,16.206,0.410,0.00,1.135,0.284,0.0,25.915,6.770,1.495,...,0.0,0.037,0.000,0.0,6.132,43.446,0.000,6.030,0.972,0.0
3,0.066,15.345,0.148,0.00,0.685,0.304,0.0,18.776,5.773,1.688,...,0.0,0.000,0.022,0.0,3.752,39.371,0.000,5.048,1.461,0.0
4,0.156,16.873,0.252,0.09,0.806,0.094,0.0,18.481,5.052,1.384,...,0.0,0.091,0.000,0.0,4.833,18.592,0.000,3.794,1.238,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,0.214,16.103,0.323,0.00,1.042,0.086,0.0,27.271,4.877,1.369,...,0.0,0.049,0.000,0.0,4.494,28.903,0.000,6.531,0.947,0.0
129,0.041,15.899,0.486,0.00,1.492,0.087,0.0,31.619,5.026,1.080,...,0.0,0.042,0.000,0.0,4.220,25.312,0.000,5.199,0.869,0.0
130,0.204,16.790,0.385,0.00,1.006,0.014,0.0,20.793,4.287,1.404,...,0.0,0.046,0.000,0.0,6.876,15.764,0.024,6.771,0.938,0.0
131,0.177,9.796,0.452,0.00,0.743,0.147,0.0,43.818,4.447,1.735,...,0.0,0.949,0.000,0.0,7.174,21.164,0.000,3.409,0.677,0.0
132,0.000,14.040,0.550,0.00,0.883,0.214,0.0,24.032,5.429,1.270,...,0.0,0.180,0.000,0.0,5.298,23.448,0.000,5.038,0.836,0.0

In [39]:
from sklearn.feature_selection import f_regression, SelectKBest

In [42]:
#pre-processing

score_func = f_regression

/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:289: RuntimeWarning: invalid value encountered in true_divide
  correlation_coefficient /= X_norms

In [50]:
score_func

(array([ 0.23970657, 46.77142553,  5.20079979, ..., 24.27841852,
        37.6559915 ,  0.09503322]),
 array([6.25236973e-01, 2.74797937e-10, 2.41915149e-02, ...,
        2.47047525e-06, 9.33265479e-09, 7.58363050e-01]))

In [57]:
K_best = SelectKBest(f_regression,k=10).fit_transform(x,y)

/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:289: RuntimeWarning: invalid value encountered in true_divide
  correlation_coefficient /= X_norms

In [58]:
K_best.shape

(133, 10)

In [59]:
from sklearn.linear_model import ElasticNet
reg = ElasticNet()

reg.fit(K_best, y)

ElasticNet()

In [60]:
reg.get_params()

{'alpha': 1.0,
 'copy_X': True,
 'fit_intercept': True,
 'l1_ratio': 0.5,
 'max_iter': 1000,
 'normalize': 'deprecated',
 'positive': False,
 'precompute': False,
 'random_state': None,
 'selection': 'cyclic',
 'tol': 0.0001,
 'warm_start': False}

In [67]:
import matplotlib.pyplot as plt

In [66]:
#grid search through hyperparams for k, normalise, alpha
#score using R^2 coeff

In [71]:
preds = reg.predict(K_best)
preds.size

133

In [72]:
from sklearn.metrics import r2_score

r2_score(y,preds)

0.6450577299572458

In [76]:
k = [5880,5890,5895,5900]
alpha = [0.00001,0.0001,0.001]
normalise = [True, False]

import warnings
warnings.filterwarnings("ignore")

for val in k:
    for a in alpha:
        for n in normalise:
            K_best = SelectKBest(f_regression,k=val).fit_transform(x,y)
            reg = ElasticNet(alpha=a,normalize=n)
            reg.fit(K_best,y)
            preds = reg.predict(K_best)
            score = r2_score(y,preds)
            print(f"score =, {score}. k=,{val}. alpha =,{a}. Norm = {n}")

score =, 0.9999999985193468. k=,5880. alpha =,1e-05. Norm = True
score =, 0.999999999990197. k=,5880. alpha =,1e-05. Norm = False
score =, 0.9999996420878743. k=,5880. alpha =,0.0001. Norm = True
score =, 0.9999999997596989. k=,5880. alpha =,0.0001. Norm = False
score =, 0.9999572607214453. k=,5880. alpha =,0.001. Norm = True
score =, 0.9999999919996139. k=,5880. alpha =,0.001. Norm = False
score =, 0.9999999985099057. k=,5890. alpha =,1e-05. Norm = True
score =, 0.999999999990671. k=,5890. alpha =,1e-05. Norm = False
score =, 0.9999996419526428. k=,5890. alpha =,0.0001. Norm = True
score =, 0.9999999997596312. k=,5890. alpha =,0.0001. Norm = False
score =, 0.9999572865083641. k=,5890. alpha =,0.001. Norm = True
score =, 0.9999999919997684. k=,5890. alpha =,0.001. Norm = False
score =, 0.9999999985064897. k=,5895. alpha =,1e-05. Norm = True
score =, 0.9999999999907314. k=,5895. alpha =,1e-05. Norm = False
score =, 0.9999996426620595. k=,5895. alpha =,0.0001. Norm = True
score =, 0.9999999997625357. k=,5895. alpha =,0.0001. Norm = False
score =, 0.999957346340318. k=,5895. alpha =,0.001. Norm = True
score =, 0.9999999920281324. k=,5895. alpha =,0.001. Norm = False
score =, 0.9999999984964216. k=,5900. alpha =,1e-05. Norm = True
score =, 0.9999999999905222. k=,5900. alpha =,1e-05. Norm = False
score =, 0.999999642071582. k=,5900. alpha =,0.0001. Norm = True
score =, 0.999999999757049. k=,5900. alpha =,0.0001. Norm = False
score =, 0.9999574479996028. k=,5900. alpha =,0.001. Norm = True
score =, 0.9999999920369302. k=,5900. alpha =,0.001. Norm = False

In [ ]:
#appears that k doesn't matter as much as small alpha (1e-5) and norm false

In [98]:
df = pd.read_csv("training_data_normal.tsv", sep='\t', header=0)
df.head()

,NM_173803,NM_014423,NM_001103167,NR_134623,NR_024490,NM_018397,NM_001037671,NR_106859,NM_133458,NM_001080424,...,NM_080390,NM_001177675,NR_125786,NM_001291993,NM_021923,NM_017417,NM_004354,NR_024278,NM_145282,age
0,0.133,16.980,0.387,0.00,0.626,0.115,0.0,31.531,5.500,1.308,...,0.000,0.000,0.0,4.349,29.242,0.04,6.139,0.528,0.0,19
1,0.213,16.772,0.168,0.00,0.701,0.077,0.0,27.992,6.473,1.357,...,0.000,0.000,0.0,5.642,31.561,0.00,5.603,1.100,0.0,19
2,0.054,16.206,0.410,0.00,1.135,0.284,0.0,25.915,6.770,1.495,...,0.037,0.000,0.0,6.132,43.446,0.00,6.030,0.972,0.0,19
3,0.066,15.345,0.148,0.00,0.685,0.304,0.0,18.776,5.773,1.688,...,0.000,0.022,0.0,3.752,39.371,0.00,5.048,1.461,0.0,19
4,0.156,16.873,0.252,0.09,0.806,0.094,0.0,18.481,5.052,1.384,...,0.091,0.000,0.0,4.833,18.592,0.00,3.794,1.238,0.0,20

In [106]:
x = df.iloc[:,:-1]
y = df['age']

In [128]:
from sklearn.model_selection import train_test_split

x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2,random_state=3303421)

In [119]:
selector = SelectKBest(f_regression,k=5890)

selector.fit(x_train,y_train)
x_train = selector.transform(x_train)
x_test = selector.transform(x_test)

x_train.shape

reg = ElasticNet(alpha=0.00001,normalize=False)
reg.fit(x_train,y_train)
preds = reg.predict(x_test)
r2_score(y_test,preds)

0.4806501736775728

In [124]:
x_train

,NM_173803,NM_014423,NM_001103167,NR_134623,NR_024490,NM_018397,NM_001037671,NR_106859,NM_133458,NM_001080424,...,NR_029666,NM_080390,NM_001177675,NR_125786,NM_001291993,NM_021923,NM_017417,NM_004354,NR_024278,NM_145282
69,0.062,20.704,0.305,0.0,0.627,0.088,0.0,39.173,4.865,1.643,...,0.0,0.127,0.042,0.0,5.750,28.048,0.000,6.177,0.969,0.0
103,0.058,20.426,0.197,0.0,1.351,3.373,0.0,15.813,6.556,2.051,...,0.0,0.059,0.000,0.0,5.172,11.740,0.000,11.964,1.718,0.0
34,0.023,15.925,0.504,0.0,1.318,0.496,0.0,24.172,6.532,2.399,...,0.0,0.096,0.000,0.0,5.332,11.070,0.000,7.400,1.413,0.0
38,0.148,16.508,0.538,0.0,1.340,0.153,0.0,31.458,6.519,1.504,...,0.0,0.151,0.000,0.0,5.452,15.621,0.000,6.414,1.067,0.0
102,0.105,26.259,0.277,0.0,1.834,1.712,0.0,21.029,10.299,0.760,...,0.0,0.071,0.000,0.0,8.171,8.369,0.000,16.739,2.337,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,0.149,21.798,0.252,0.0,1.367,0.090,0.0,32.658,4.541,1.451,...,0.0,0.051,0.000,0.0,8.245,23.805,0.000,9.283,0.910,0.0
45,0.235,13.411,0.798,0.0,0.601,0.116,0.0,28.753,5.942,1.714,...,0.0,0.000,0.000,0.0,4.688,22.356,0.000,5.458,0.949,0.0
75,0.067,15.728,0.602,0.0,0.935,1.347,0.0,21.910,6.750,3.081,...,0.0,0.136,0.000,0.0,6.846,20.916,0.035,6.174,1.465,0.0
130,0.204,16.790,0.385,0.0,1.006,0.014,0.0,20.793,4.287,1.404,...,0.0,0.046,0.000,0.0,6.876,15.764,0.024,6.771,0.938,0.0
74,0.000,18.982,0.392,0.0,1.125,0.559,0.0,23.994,5.961,1.343,...,0.0,0.000,0.000,0.0,4.287,12.006,0.030,7.819,1.105,0.0

In [126]:
from sklearn.model_selection import cross_val_score

In [129]:
k = [5880,5890,5895,5900]
alpha = [0.00001,0.0001,0.001]
normalise = [True, False]

import warnings
warnings.filterwarnings("ignore")

for val in k:
    for a in alpha:
        for n in normalise:
            selector = SelectKBest(f_regression,k=val)
            selector.fit(x_train,y_train)
            x_train_new = selector.transform(x_train)
            x_test_new = selector.transform(x_test)
            reg = ElasticNet(alpha=a,normalize=n,random_state=33032141)
            reg.fit(x_train_new,y_train)
            preds = reg.predict(x_test_new)
            score = r2_score(y_test,preds)
            print(f"score =, {score}. k=,{val}. alpha =,{a}. Norm = {n}")

score =, 0.5884086792686232. k=,5880. alpha =,1e-05. Norm = True
score =, 0.5441055729072035. k=,5880. alpha =,1e-05. Norm = False
score =, 0.7625086945954622. k=,5880. alpha =,0.0001. Norm = True
score =, 0.5801473157897632. k=,5880. alpha =,0.0001. Norm = False
score =, 0.7494304652117284. k=,5880. alpha =,0.001. Norm = True
score =, 0.6489574394727905. k=,5880. alpha =,0.001. Norm = False
score =, 0.5860940271269053. k=,5890. alpha =,1e-05. Norm = True
score =, 0.5438661650954464. k=,5890. alpha =,1e-05. Norm = False
score =, 0.762592291088807. k=,5890. alpha =,0.0001. Norm = True
score =, 0.5797737261549989. k=,5890. alpha =,0.0001. Norm = False
score =, 0.749778879016469. k=,5890. alpha =,0.001. Norm = True
score =, 0.6484118985414689. k=,5890. alpha =,0.001. Norm = False
score =, 0.5865956429070922. k=,5895. alpha =,1e-05. Norm = True
score =, 0.5442267644161682. k=,5895. alpha =,1e-05. Norm = False
score =, 0.7630645769862934. k=,5895. alpha =,0.0001. Norm = True
score =, 0.57956903395158. k=,5895. alpha =,0.0001. Norm = False
score =, 0.7497786894535192. k=,5895. alpha =,0.001. Norm = True
score =, 0.6475261136159602. k=,5895. alpha =,0.001. Norm = False
score =, 0.5871997636809632. k=,5900. alpha =,1e-05. Norm = True
score =, 0.5422655588154558. k=,5900. alpha =,1e-05. Norm = False
score =, 0.7628795280327656. k=,5900. alpha =,0.0001. Norm = True
score =, 0.578711095373327. k=,5900. alpha =,0.0001. Norm = False
score =, 0.7490817305140628. k=,5900. alpha =,0.001. Norm = True
score =, 0.6472060615627411. k=,5900. alpha =,0.001. Norm = False

In [ ]:
df = pd.read_csv("training_data_normal.tsv", sep='\t', header=0)
df.head()

x = df.iloc[:,:-1]
y = df['age']

Empty DataFrame
Columns: [NM_173803, NM_014423, NM_001103167, NR_134623, NR_024490, NM_018397, NM_001037671, NR_106859, NM_133458, NM_001080424, NM_001271816, NR_027283, NR_073417, NR_033323, NM_001195545, NM_014879, NM_006918, NM_001145318, NR_109942, NR_135665, NM_001135914, NM_170679, NR_027000, NM_001318781, NM_004698, NM_017554, NM_015603, NR_136640, NM_002144, NR_102367, NM_001282763, NM_005663, NM_153213, NM_002559, NR_038194, NM_015902, NR_024111, NM_001042529, NM_001039569, NM_001025205, NM_001004351, NR_134896, NM_020940, NM_001146685, NM_002886, NM_031415, NM_018147, NM_001079528, NM_001014442, NM_001199723, NR_135262, NM_052889, NR_028409, NR_108042, NM_001320878, NM_032860, NM_001330343, NM_001308203, NM_147150, NM_001144070, NM_001136266, NM_003820, NM_001282797, NM_003060, NM_001258, NR_134247, NR_002948, NM_002732, NM_024771, NM_001099405, NM_003559, NR_110647, NM_000386, NR_110409, NM_030791, NR_125859, NR_029628, NM_030760, NM_182704, NM_001168239, NM_001284514, NM_001320219, NR_030383, NM_001278313, NM_001330589, NM_033253, NM_000743, NM_017481, NM_021216, NM_003906, NM_001024599, NM_001320766, NM_001322375, NR_033369, NR_125383, NR_105004, NM_022101, NR_130931, NM_001278196, NR_031716, ...]
Index: []

[0 rows x 27142 columns]

In [144]:
classifier = ElasticNet(alpha=0.001,normalize=True,random_state=33032141)
selector = SelectKBest(f_regression,k=5880)
selector.fit(x,y)
x_new = selector.transform(x)

x_new

scores = cross_val_score(classifier, x_new,y, cv=5,scoring='r2')
scores

TypeError: ignored

In [143]:
scores = cross_val_score(classifier, x,y, cv=5,scoring='r2')
scores

array([ 0.47180529,  0.57674146, -3.01589724, -9.65206772,  0.35960639])

In [132]:
sorted(sk.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']

In [154]:
df = pd.read_csv("training_data_normal.tsv", sep='\t', header=0)
df.head()

x = df.iloc[:,:-1]
y = df['age']

x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)


selector = SelectKBest(f_regression,k=5895)
selector.fit(x,y)
x_train_new = selector.transform(x_train)
x_test_new = selector.transform(x_test)
reg = ElasticNet(alpha=0.001,normalize=True,random_state=33032141)
reg.fit(x_train_new,y_train)
preds = reg.predict(x_test_new)
score = r2_score(y_test,preds)
score

0.8184382276305554

In [ ]:
#after running the above cell a bunch of times, it looks like the average is roughly 0.7 which I'm pretty happy with so I guess that works for now!